@model List<Comment>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_AdminLayout/Index.cshtml";
}
 <style>
        .centered-text {
            text-align: center;
            margin-top: 50vh;
            transform: translateY(-50%);
        }
    </style>
<div class="row">
    <div class="col-xxl-3 col-sm-6">
        <div class="card widget-flat text-bg-pink">
            <div class="card-body">
                <div class="float-end">
                    <i class="ri-eye-line widget-icon"></i>
                </div>
                <h6 class="text-uppercase mt-0" title="Customers">Otralama Araç Fiyatımız</h6>
                <h2 class="my-2">@ViewBag.avargecarprice ₺</h2>
                
            </div>
        </div>
    </div> <!-- end col-->

    <div class="col-xxl-3 col-sm-6">
        <div class="card widget-flat text-bg-purple">
            <div class="card-body">
                <div class="float-end">
                    <i class="ri-wallet-2-line widget-icon"></i>
                </div>
                <h6 class="text-uppercase mt-0" title="Customers">Toplam Araç Sayımız</h6>
                <h2 class="my-2">@ViewBag.carcount-Adet</h2>
                
            </div>
        </div>
    </div> <!-- end col-->

    <div class="col-xxl-3 col-sm-6">
        <div class="card widget-flat text-bg-info">
            <div class="card-body">
                <div class="float-end">
                    <i class="ri-shopping-basket-line widget-icon"></i>
                </div>
                <h6 class="text-uppercase mt-0" title="Customers">Fiyatı En Yüksek Aracımız</h6>
                <h2 class="my-2">@ViewBag.maxpricecar</h2>
               
            </div>
        </div>
    </div> <!-- end col-->

    <div class="col-xxl-3 col-sm-6">
        <div class="card widget-flat text-bg-primary">
            <div class="card-body">
                <div class="float-end">
                    <i class="ri-group-2-line widget-icon"></i>
                </div>
                <h6 class="text-uppercase mt-0" title="Customers">Son Eklenen Araçımız</h6>
                <h2 class="my-2">@ViewBag.lastbrandname</h2>
               
            </div>
        </div>
    </div> <!-- end col-->
</div>
<div class="row">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <div class="card-widgets">
                    <a href="javascript:;" data-bs-toggle="reload"><i class="ri-refresh-line"></i></a>
                    <a data-bs-toggle="collapse" href="#weeklysales-collapse" role="button" aria-expanded="false" aria-controls="weeklysales-collapse"><i class="ri-subtract-line"></i></a>
                    <a href="#" data-bs-toggle="remove"><i class="ri-close-line"></i></a>
                </div>

                <div id="weeklysales-collapse" class="collapse pt-3 show">
                    <div dir="ltr">
                        <div id="revenue-chart" class="apex-charts" data-colors="#3bc0c3,#1a2942,#d1d7d973"></div>
                    </div>

                    <div class="row text-center">
                        <div class="col">
                            <p class="text-muted mt-3">Toplam Referans Sayımız</p>
                            <h3 class=" mb-0">
                                <span>@ViewBag.TestimonialCount</span>
                            </h3>
                        </div>
                        <div class="col">
                            <p class="text-muted mt-3">Kategorisi En Çok olan araba</p>
                            <h3 class=" mb-0">
                                <span>@ViewBag.MaxCategoryBradn</span>
                            </h3>
                        </div>
                        <div class="col">
                            <p class="text-muted mt-3">Toplam Kategori Sayımız</p>
                            <h3 class=" mb-0">
                                <span>@ViewBag.CarCategoryCount</span>
                            </h3>
                        </div>
                        <div class="col">
                            <p class="text-muted mt-3">Toplam Marka Sayımız</p>
                            <h3 class=" mb-0">
                                <span>@ViewBag.brandCount</span>
                            </h3>
                        </div>
                    </div>
                </div>

            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col-->

</div>
<div class="col-xl-12">
    <!-- Todo-->
    <div class="card">
        <div class="card-body p-0">
            <div class="p-3">
                <div class="card-widgets">
                    <a href="javascript:;" data-bs-toggle="reload"><i class="ri-refresh-line"></i></a>
                    <a data-bs-toggle="collapse" href="#yearly-sales-collapse" role="button" aria-expanded="false" aria-controls="yearly-sales-collapse"><i class="ri-subtract-line"></i></a>
                    <a href="#" data-bs-toggle="remove"><i class="ri-close-line"></i></a>
                </div>
                <h5 class="header-title mb-0">Araçlarımza Gelen Yorumlar</h5>
            </div>

            <div id="yearly-sales-collapse" class="collapse show">

                <div class="table-responsive">
                    <table class="table table-nowrap table-hover mb-0">
                        <thead>
                            <tr>
                                
                                <th>Resim</th>
                                <th>Gönderenin Adı Soyadı</th>                                                               
                                <th>Gönderdiği Tarih</th>
                                <th>Hangi araç için Göndermiş</th>
                                <th>Araç için Yaptığı yorum</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                                @foreach (var item in Model)
                                {
                                    <tr>
                                    <td style="width: 75px; height: 75px;">
                                        <img src="@item.ImageUrl" alt="Image" style="width: 100%; height: 100%;">
                                    </td>
                                    <td>@item.UserName @item.UserSurname</td>
                                    <td>@item.CreatedDate.ToString("dd MMMM yyyy")</td>
                                        <td>@item.Car.Model</td>
                                        <td>@item.Description</td>
                                    </tr>
                                }
                                
                           
                           

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div> <!-- end card-->
</div> <
