@model List<Comment>

<h3 class="mb-5">@Model.Count Yorum</h3>

<ul class="comment-list">
    @foreach (var item in Model)
    {
        <li class="comment">
            <div class="comment-container">
                <div class="user-initials background-green me-4" style="color:burlywood">@item.UserName.Substring(0, 1)</div>
                <p class="me-3"><span style="margin-right:15px">@item.UserSurname</span> <span style="font-size:small">@item.CreatedDate.ToLongDateString()</span></p>
            </div>

            <div style="margin-left: 65px;">
                <p>@item.Description</p>
            </div>
        </li>
    }
</ul>

